*
{
    margin: 0;
    padding: 0;
}

h1
{
    font-weight: 900;
}

.find-us
{
    font-weight: 500;
}

body
{
    font-family: Sans-serif;
    font-size: 17px;
}

#nav-bar
{ 
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #dea5a4, #63B7B7);
    padding: 0 !important;
}

.btn btn-outline-success
{
    color: black;
    
}

.navbar-brand img
{
    height: 65px;
    padding-left: 60px;
}

.navbar-nav li
{
   padding: 0 10px;    
}

.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
    
}

.navbar-toggler
{
    outline: none !important;
}

.dropdown-menu
{
     background-image: linear-gradient(to right, #dea5a4, #63B7B7);
     width: 180px;
     margin-left: 50px;
}
.dropdown-item:hover
{
      text-align: center;
      background-image: linear-gradient(to right, #dea5a4, #63B7B7);
}

/*-- BANNER SECTION --*/

#banner
{
    background-image: linear-gradient(to right, #dea5a4, #63B7B7);
    color: #fff;
    padding-top: 5%;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}

.play-btn
{
    width: 45px;
    margin: 20px;
}

#banner a
{
  color: #fff;
  text-decoration: none;
}

.bottom-img
{
    width: 100%;
}

/*-- services --*/

#services
{
    padding: 80px 0;
}

.service-img
{
    width: 100px;
    margin-top:20px;
}

.services
{
    padding: 20px;
}

.services h4
{
    padding: 5px;
    margin-top:25px;
    text-transform: uppercase;
}

.title::before
{
    content: '';
    background: #63B7B7;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after
{
    content: '';
    background: #63B7B7;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #dea5a4, #63B7B7);
    color: #FFFFFF;
}

#btn-remove a
{
    text-decoration: none;
    color: white;
}
